@import "tailwindcss";

body {
  overflow-x: hidden !important;
}

.font-space {
  font-family: var(--font-space-grotesk);
}
.font-roboto {
  font-family: var(--font-Roboto);
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
