@import "tailwindcss";

body,
html {
  overflow-x: hidden !important;
}

a {
  display: inline-block;
}

.font-Poppins {
  font-family: var(--font-Poppins);
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.navbar-collapsed {
  transition: 0.5s linear !important;
}
