@import "tailwindcss";

body {
  overflow-x: hidden !important;
}

.font-Poppins {
  font-family: var(--font-Poppins);
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
